/* #duck {
  width: 400px;
}
#darcy {
  width: 400px;
} */


#title{
  font-family: 'Monoton', cursive;
}

img {
    width: 30%;
    border: 1px solid black;
  }
  
  body {
    background-color: #cccccc;
    
  }
  
  #duck {
    width: 250px;
    height: 500px;
  }
  
  #darcy {
    width: 500px;
    height: 100px;
  }